/* 
    RESET
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    GENERAL
*/

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.button {
    padding: 10px 15px;
    border: 1px solid white;
    background-color: white;
    color: black;
    border-radius: 25px;
}

.button.dark {
    color: white;
    background-color: #23272A;
    border: 1px solid #23272A;
}

.button.blue {
    color: white;
    background-color: #7289da;
    border: 1px solid #7289da;
}

/* 
    HEADER
*/

header {
    background-color: #255ee9;
}

.header-nav {
    display: flex;
    padding: 10px 0;
    width: 100%;
}

.header-top-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-nav li {
    display: inline-block;
}

li a {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.header-background-bottom {
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
}

nav .button-container {
    display: flex;
    justify-content: flex-end;
}

.header-bottom-container {
    max-width: 1200px;
    margin: 0 auto;
}

.header-section {
    display: flex;
    justify-content: center;
}

.header-nav > * {
    padding: 10px;   
}

aside a {
    justify-content: flex-end;
}

header aside {
    width: 20%;
    display: flex;
}

header main {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron > * {
    color: white;
    text-align: center;
}

h1 {
    font-size: 3em;
    padding: 100px 0 30px 0;
}

.jumbotron p {
    line-height: 30px;
    font-size: 1,5em;
    padding-bottom: 30px;
}

.header-section > * {
    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    margin-bottom: 80px;
}

.jumbotron .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* 
    MAIN
*/

.background-main-container:nth-of-type(2n+2) {
    background-color: #F6F6F6;
}

.section-container, .big-section {
    max-width: 1200px;
    margin: 0 auto;
}

.section-container > * {
    display: flex;
}

.section-container > section > * {
    margin-top: 30px;
    margin-bottom: 30px;
}

section aside {
    width: 40%;
}

section main {
    width: 60%;
}

main img {
    width: 100%;
}


.textbox {
    padding: 0 40px;
}

h2 {
    font-size: 3em;
    padding: 30px 0;
}

.textbox p, .last-section p {
    line-height: 30px;
}


.last-section > form {
    padding: 30px 0 70px 0;
}

.big-section > * {
    padding: 30px 0;
}

.last-section * {
    text-align: center;
    padding: 30px, 0;
    margin: 0 auto;
}

.background-main-container {
    display: flex;
    flex-wrap: wrap;
}

.bg-last-section {
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 50%;
    min-height: 50px;
    line-height: 50px;
    margin-bottom: 30px;
    font-size: 1.5em;
    font-weight: bold;
}

.bonus-img {
    filter: invert(100%) 
            sepia(3%) 
            saturate(15%) 
            hue-rotate(139deg) 
            brightness(114%) 
            contrast(93%);
    display: inline-block;
}

.bonus-img.flip {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}


/* 
    FOOTER
*/

.footer-background {
    background-color: #23272A;
}


.footer-top-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.footer-top-container > * {
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-side h3 {
    color: #7289da;
    font-size: 2em;
    margin-bottom: 20px;
}

p img {
    width: 25px;
}

.footer-top-container * {
    color: white;
}

.footer-side {
    width: 30%;
    padding: 30px 30px 30px 0;
}

.footer-side > * {
    line-height: 30px;
}

.loghi {
    font-size: 1.3em;
    letter-spacing: 5px;
}

.footer-col {
    width: 70%;
    display: flex;
}

.footer-col section {
    width:25%;
}

.footer-top-nav {
    padding: 30px;
    line-height: 30px;
}

.footer-top-nav li {
    display: block;
}

.footer-top-nav h4 {
    color: #7289da;
}

.footer-bottom-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-bottom-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 50px 0;
}

.footer-bottom-container button {
    padding: 10px 0;
}

hr {
    max-width: 1200px;
    background-color: #7289da;
    color: #7289da;
    height: 2px;
    margin: 0 auto;
    border: #7289da;
}


/* 
    DEBUG
*/

/*.header-background {
    background-color: #add8e6;
}*/

/*.header-nav > * {
    background-color: #daa520;
    border: 1px dashed black;
}*/

/*.debug .header-background-bottom {
    background-color: #00008b;
}*/

/*.header-section > section {
    
    background-color:#ee82ee;
    border: 1px dashed black;
    min-height: 300px;
}*/

/*section aside {
    background-color: #ffc0cb;
    border: 1px dashed black;
    min-height: 500px;
}*/

/*section main {
    background-color: #1e90ff;
    border: 1px dashed black;
    min-height: 500px;
}*/

/*section div {
    background-color: #228b22;
    border: 1px dashed black;
    min-height: 600px;
}*/

/*.footer-side {
    background-color: #f08080;
    border: 1px dashed black;
    min-height: 500px;
}*/

/*.footer-col section {
    background-color: #20b2aa;
    border: 1px dashed white;
    min-height: 500px;
}*/

/*.footer-bottom-nav {
    background-color: #7fffd4;
}

.footer-bottom-nav > * {
    background-color: #ffb6c1;
    border: 1px dashed black;
}*/

/*.background-main-container::before {
    content:"";
    display: ;
    background-image: url(../img/wave.svg);
}*/


